.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 35px;
  margin-bottom: 20px;
  max-width: 900px; // Ограничение по ширине
  width: 100%; // Занимает всю доступную ширину, но не больше max-width

  &:hover {
    img {
      transition: 0.4s ease-in-out;
      opacity: 1;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    // background-color: var(--color-grey-light);
    overflow: hidden; /* Это обрежет всё, что выходит за границы */

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      object-fit: contain; /* Сохраняет пропорции, помещая изображение целиком */
      opacity: 0.8;
    }
  }

  &__content {
    flex: 1;
    min-width: 0; // Разрешает сжатие контента
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-wrap: break-word; // Перенос длинных слов
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: right;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card__list a {
    white-space: nowrap; // Запрещаем перенос
    overflow: hidden; // Обрезаем текст
    text-overflow: ellipsis; // Добавляем "…"
    max-width: 250px; // Максимальная ширина
  }

  &__link {
    font-size: 0.9rem;
    color: #333;

    span {
      color: #ca4581; // Исправлено: явное указание цвета, если переменная не работает
    }

    a {
      color: inherit; // Наследует цвет от родителя
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
