.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  max-width: 900px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
  padding: 0 20px;
  height: fit-content;
}

.mini-card {
  flex: 0 0 calc(100% - 40px);
  box-sizing: border-box;
  padding: 25px 45px 25px 45px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  min-width: 0;

  &__title {
    text-transform: uppercase;
    color: var(--color-accent);
    @include fluid-text(20, 26);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-light);
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 8px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.slider-dot.active {
  background: #333;
}
