.propose__form {
  display: none;
}

.topic,
.card,
.mini-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;

  &:hover {
    background-color: #ebebeb;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.4s ease-in-out;
  }
}

.topic {
  scroll-margin-top: 100px; /* Высота вашего хедера + небольшой отступ */

  &__head {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 25px;
  }

  &__title {
    color: var(--color-accent);
  }

  &__date {
    color: #bfbfbf;
    margin-left: auto;
  }

  &__text {
    line-height: 30px;
    font-size: 18px;
    padding: 20px;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

  &__meta {
    display: flex;
  }

  &__author {
    color: var(--color-accent);
  }

  &__date {
    color: #bfbfbf;
    margin-left: auto;
  }
}

.comments__have {
  display: none;
  margin: 20px 0px;
}
