@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-accent: #ca4581;
  --color-accent-light: #f3539b;
  --color-grey-dark: #171717;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --bordder-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Actay", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.main-content {
  flex: 1;
  padding-top: 60px;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-duration) ease-in-out;
}
a:hover {
  color: var(--color-accent); /* Цвет при наведении, как в header */
  transition: 0.4s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(43px, 6.9444444444vw, 100px);
  text-transform: uppercase;
}
h1__title,
.h1__title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

h2,
.h2 {
  font-size: clamp(36px, 2.0833333333vw, 30px);
  color: var(--color-accent);
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: clamp(26px, 1.3888888889vw, 20px);
  padding-top: 10px;
}

h4,
.h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.span-accent {
  color: var(--color-accent);
}

.list--inline {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}

.list--inline__item {
  display: inline-block;
}
.list--inline__item:not(:last-child)::after {
  content: " ●";
  color: #ca4581;
  margin-left: 5px;
}
.list--inline__item a {
  text-decoration: none;
  color: inherit;
}
.list--inline__item a:hover {
  text-decoration: underline;
  color: #ca4581;
  transition: 0.4s ease-in-out;
}

.align-right {
  text-align: right;
}

button {
  padding: 10px;
  border: none;
  color: var(--color-white);
  font-weight: 400;
  border-radius: var(--border-radius-small);
  margin: 10px;
  background-color: var(--color-accent);
  box-shadow: var(--shadow);
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
button:hover {
  background-color: var(--color-accent-light);
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 18px;
  border: #ccc;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
input:focus,
textarea:focus {
  border-color: var(--color-accent); /* Изменение цвета рамки при фокусе */
  outline: none;
  box-shadow: 2px 3px 13px 2px rgba(202, 69, 129, 0.38);
}

input {
  width: 350px;
}

.btn-small {
  width: auto;
  padding: 10px 20px;
}

.btn-medium {
  width: 150px;
  padding: 10px 20px;
}

.btn-large {
  width: 100%;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 768px) {
  .btn-large {
    width: 90%;
    margin: 10px auto;
  }
}
button.with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer {
  flex-shrink: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 1px solid #333333;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__logo {
  position: relative;
  z-index: 3;
  font-size: 23px;
  color: black;
  font-family: "Actay", sans-serif;
  text-decoration: none;
}
.header__logo-text {
  color: inherit;
}
.header__burger {
  display: none;
  cursor: pointer;
  z-index: 3;
}
.header__burger-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.header__item {
  margin-left: 20px;
  position: relative;
  text-transform: lowercase;
}
.header__item:hover {
  color: var(--color-accent); /* Цвет при наведении для всего пункта меню */
}
.header__item--dropdown:hover .header__submenu {
  visibility: visible;
  opacity: 1;
}
.header__link {
  font-size: 20px;
}
.header__link--dropdown {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
.header__link--dropdown::before, .header__link--dropdown::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header__link--dropdown::before {
  transform: rotate(40deg);
  right: 7px;
}
.header__link--dropdown::after {
  transform: rotate(-40deg);
  right: 0;
}
.header__submenu {
  position: absolute;
  top: 100%; /* Отступ сверху, чтобы submenu не перекрывал ссылку */
  left: 50%; /* Начало submenu по центру ссылки */
  transform: translateX(-50%); /* Сдвигаем submenu на половину его ширины влево */
  width: 250px; /* Фиксированная ширина submenu */
  background: #ffffff;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  padding: 25px 0 0 0;
  text-align: center;
  color: black;
  box-shadow: -10px 0 12px -10px rgba(0, 0, 0, 0.1), 10px 0 12px -10px rgba(0, 0, 0, 0.1), 0 10px 12px -10px rgba(0, 0, 0, 0.1); /* Тень снизу */
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.header__sublink {
  font-size: 20px;
  display: block;
  padding: 20px 0;
  transition: background-color 0.4s ease-in-out;
}
.header__sublink:hover {
  background-color: rgb(239, 239, 239);
  transition: 0.4s ease-in-out;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
}
.header__button {
  padding: 5px 15px;
  text-transform: lowercase;
  font-size: 15px;
}
.header__profile-link {
  font-size: 16px;
}
.header__social-link {
  font-size: 24px;
}

.footer {
  background-color: var(--color-grey-dark);
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}
.footer__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ca4581;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list--social {
  display: flex;
  gap: 10px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: #ca4581;
}
.footer__icon {
  margin-right: 10px;
  font-size: 16px;
}
.footer__text {
  font-size: 14px;
}
.footer__copyright {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
}
.footer__copyright-text {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

.hero {
  position: relative;
  width: 100%;
  margin-top: -60px;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Блок form */
.form {
  display: flex;
  flex-direction: column;
}

/* Элемент form__group */
.form__group {
  margin-bottom: 15px; /* Отступ между группами */
}

/* Элемент form__label */
.form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Элемент form__text */
.form__text {
  display: inline-block;
  margin-right: 10px;
  color: #555;
}

/* Элемент form__link */
.form__link {
  color: pink;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Элемент form__submit-btn */
.form__submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px; /* Отступ сверху */
}

.form__submit-btn:hover {
  background-color: #0056b3; /* Изменение цвета при наведении */
}

/* Блок modal */
.modal {
  display: none; /* По умолчанию скрыто */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемненный фон */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Чтобы модальное окно было поверх других элементов */
}

/* Модификатор для видимого состояния */
.modal--visible {
  display: flex;
}

/* Элемент modal__content */
.modal__content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px; /* Ограничение ширины для модального окна */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для модального окна */
}

/* Элемент modal__header */
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Отступ снизу */
}

/* Элемент modal__title */
.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Элемент modal__close-btn */
.modal__close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.modal__close-btn:hover {
  color: #000; /* Изменение цвета при наведении */
}

/* Элемент modal__message */
.modal__message {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.main-content {
  padding: 20px 0;
}
.main-content__title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}
.main-content__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 35px;
  margin-bottom: 20px;
}
.card:hover img {
  transition: 0.4s ease-in-out;
  opacity: 1;
}
.card__image {
  flex: 0 0 300px;
}
.card__image img {
  opacity: 0.8;
  width: 300px;
  height: auto;
}
.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card__title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: right;
}
.card__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card .card__list {
  display: flex;
  gap: 10px;
  margin: 5px;
}
.card__link {
  font-size: 0.9rem;
  color: #333;
}
.card__link span {
  color: #ca4581;
}
.card__link a {
  color: inherit;
  text-decoration: none;
}
.card__link a:hover {
  text-decoration: underline;
}

.propose__form {
  display: none;
}

.topic,
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
.topic:hover,
.card:hover {
  background-color: #ebebeb;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.4s ease-in-out;
}

.topic__head {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.topic__title {
  color: var(--color-accent);
}
.topic__date {
  color: #bfbfbf;
  margin-left: auto;
}
.topic__text {
  line-height: 30px;
  font-size: 18px;
  padding: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.comment__meta {
  display: flex;
}
.comment__author {
  color: var(--color-accent);
}
.comment__date {
  color: #bfbfbf;
  margin-left: auto;
}

.comments__have {
  margin: 20px 0px;
}/*# sourceMappingURL=styles.css.map */